.topic {
    min-height: 50px;
    background-color: rgb(227, 227, 227);
    color: #605f5f;
    padding: 0 20px;
    display: flex;
    align-items: center;
    margin-bottom: 5px;
    border-radius: 10px;
}

.topic a {
    color: #525151;
    text-decoration: none;
}

.single-topic-header {
    background-color: #96d58f;
}